.wrapper {
  width: 80%;
  margin: auto;
}

.header {
  padding: 39px 0 41px 1px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 105px;
}

.logo {
  width: 190px;
  height: 35px;
  margin-left: 0;
  background: url('img/logo.svg');
}

.menu {
  display: flex;
  align-items: center;
  margin: 4px 2px 0 0;
}

#menu__toggle {
  display: none;
}

.menu__item {
  position: relative;
  margin-right: 22px;
  font: 20px "Roboto", arial, sans-serif;
  color: #000;
  text-decoration: none;
}

.menu__item::after {
  position: relative;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__item:hover::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__item:last-child {
  margin-right: 0;
}

.main {
  padding: 34px 58% 171px 2px;
  background: 99% no-repeat url('img/Frame.svg');
}

.main__descrip {
  font-family: "Roboto", arial, sans-serif;
  margin-top: 34px;
  margin-bottom: 60px;
  max-width: 440px;
  font-weight: normal;
  font-size: 22px;
}

.main__button {
  display: inline-inline-block;
  font: 18px "Roboto", arial, sans-serif;
  color: #fff;
  background: #0056ec;
  padding: 18px 30px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity 0.5s;
}

.main__button:hover {
  opacity: 0.5s;
}

.main__title {
  font-family: 'pt_serifbold', arial, sans-serif;
  font-weight: bold;
  font-size: 66px;
  margin-bottom: 20px;
}

.main__title-text_highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 15%, #ecf3ff 15%);
}

.img__pnt {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 118px;
}

@media (max-width: 1366px) {
  .wrapper {
    width: 79%;
  }

  .header {
    margin: 38px 0 33px 79px;
    padding: 2px 0 0;
    display: flex;
    justify-content: space-between;
  }

  .menu {
    display: flex;
    align-items: center;
    margin: 9px 80px 0 0;
  }

  .menu__item {
    position: relative;
    font: 14px "Roboto", arial, sans-serif;
    color: #000;
    text-decoration: none;
  }

  .main {
    background: center right 13% no-repeat url('img/Frame1366.svg');
    padding: 78px 45% 140px 80px;
  }

  .main__descrip {
    font: 18px/20px "Roboto", arial, helvetica;
    margin-top: 48px;
    margin-bottom: 55px;
    max-width: 380px;
    letter-spacing: 0;
  }

  .main__button {
    display: inline-inline-block;
    font: 14px "Roboto", arial, sans-serif;
    color: #fff;
    background: #0056ec;
    padding: 14px 21px;
    margin-left: 2px;
    text-decoration: none;
    border-radius: 4px;
    transition: opacity 0.5s;
    letter-spacing: 0;
  }

  .main__title {
    margin-top: 35px;
    font: bold  50px/60px pt_serifregular, arial, helvetica;
    letter-spacing: 1px;
    max-width: 490px;
  }

  .img__pnt {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 115px;
  }
}

@media (max-width: 1024px) {
  .header {
    margin: 38px 0 33px -53px;
    padding: 0;
  }

  .menu {
    display: flex;
    align-items: center;
    margin: 8px -55px 0 0;
  }

  .menu__item {
    position: relative;
    font: 15px "Roboto", arial, sans-serif;
    color: #000;
    text-decoration: none;
  }

  .main {
    background: right center no-repeat url('img/Frame1024.svg');
    padding: 78px 45% 150px 1px;
  }

  .main__title {
    font: bold 50px/62px 'pt_serifbold', arial, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: -53px;
    margin-top: 30px;
    letter-spacing: 0;
  }

  .main__descrip {
    font: 18px/20px "Roboto", arial, helvetica;
    margin-top: 48px;
    margin-bottom: 52px;
    margin-left: -53px;
    max-width: 380px;
    letter-spacing: 0;
  }

  .main__button {
    display: inline-inline-block;
    font: 14px "Roboto", arial, sans-serif;
    color: #fff;
    background: #0056ec;
    padding: 15px 20px;
    margin-left: -55px;
    text-decoration: none;
    border-radius: 4px;
    transition: opacity 0.5s;
    letter-spacing: 0;
  }
}

@media (max-width: 768px) {
  .header {
    margin: 24px 0 33px 0;
    padding: 0;
  }

  .logo {
    margin-left: -15px;
    margin-top: -2px;
    background: no-repeat url('img/logosmall.svg');
  }

  /* скрываем чекбокс */
  #menu__toggle {
    display: none;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    margin-top: 12px;
    margin-left: 306px;
    top: 20px;
    left: 20px;
    width: 25px;
    height: 17px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #0056ec;
  }

  .menu__btn > span::before {
    content: '';
    top: -7px;
  }

  .menu__btn > span::after {
    content: '';
    top: 7px;
  }

  .menu {
    display: block;
    flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #e5e5e5;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
  }

  .menu__item {
    display: block;
    margin-right: 0;
    padding: 12.5px 24px;
    color: #333;
    font: 600 30px/35px 'Roboto', sans-serif;
    text-decoration: none;
  }

  .menu__item:hover {
    background-color: #e5e5e5;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu {
    display: block;
    left: 0;
  }

  .main {
    text-align: center;
    padding: 76% 0 2px 4px;
    background-size: 88%;
    background-position: top center;
  }

  .main__title {
    margin-top: 28px;
    padding-left: 49px;
    font: bold 32px/39px pt_serifregular, arial, helvetica;
    letter-spacing: 0;
  }

  .main__descrip {
    margin-bottom: 36px;
    max-width: 240px;
    font: 500 16px/19px "Roboto", arial, helvetica;
    margin-left: 26px;
    margin-top: 31px;
  }

  .main__button {
    display: inline-inline-block;
    font: 14px "Roboto", arial, sans-serif;
    color: #fff;
    background: #0056ec;
    padding: 13px 21px;
    text-decoration: none;
    border-radius: 4px;
    letter-spacing: 0;
    margin-left: 0;
  }

  .img__pnt {
    display: none;
  }
}
