.menu__ahref {
   font-family: Roboto, arial, sans-serif;
}
.section_p {
   font-family: Roboto, arial, sans-serif;
}
.section_button{
  font-family: Roboto, arial, sans-serif;
}
.section_h1{
   font-family: "PT Serif", sans-serif, arial;
}
.header__logo{
   font-family: "PT Serif", sans-serif, arial;
}
