.wrapper {
  width: 80%;
  margin: auto;
  border: dashed 1px red;
}

.header {
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
}

.logo {
   width: 190px;
   height: 35px;
   border: dashed 1px red;
   background: url('img/logo.svg');
/*font: bold 24px/31px 'pt_serifregular', arial, helvetica, sans-serif;
font-family: 'pt_serifregular', arial, helvetica, sans-serif;
font-weight: bold;
font-size: 24px;
line-height: 31px; */
}

.menu__item {
  font-family: "Roboto", arial, sans-serif;
}

.main-content__descrip {
  font-family: "Roboto", arial, sans-serif;
}

.main-content__button {
  font-family: "Roboto", arial, sans-serif;
}

.main-content__title {
  font-family: "PT Serif", sans-serif, arial;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  padding: 0px 13px;
}

.menu__item:last-child {
  padding-right: 0;
}
